# --- Terraform ---
*.tfstate
*.tfstate.backup
terraform/.terraform/
terraform/.terraform.lock.hcl
*.tfplan
terraform.tfstate.d/
terraform/terraform.tfvars
ec2.tf

# --- AWS Credentials ---
.env
.env.local
*.pem
*.key
*.crt
.aws/
config
credentials

# --- Docker ---
*.log
.dockerignore
docker-compose.override.yml
docker-compose*.yml.bak
.envrc
docker-volume/
__pycache__/
.docker/
terraform/Dockerfile

# --- Kubernetes / Helm ---
*.kube/
.kube/config
helm-release.yaml
values.yaml
charts/
*.tgz
terraform/.ssh-tm

# --- Node.js (Frontend, Vite, React) ---
node_modules/
dist/
build/
*.cache
*.log
yarn.lock
pnpm-lock.yaml
npm-debug.log*
.vite/
.vite-cache/
terraform/index.html
terraform/init_efs.sh
terraform/nginx.conf

# --- Python ---
*.pyc
*.pyo
*.pyd
.Python
venv/
__pycache__/
.mypy_cache/
.pytest_cache/

# --- Logs & Debugging ---
logs/
*.log
debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
server-debug.log

# --- IDE / OS Specific ---
.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
*.sublime-workspace
*.sublime-project

# --- Miscellaneous ---
coverage/
*.bak
*.swp
*.swo
*.swn
